* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  color: #fff;
  font-size: 18px;
  line-height: 56px;
  padding: 0 16px;
  background-color: #F44336;
}

header .fa-chevron-left {
  margin-right: 16px;
}
.containerItem i,
small{
    color: dimgray;
}
#search{
  border: 0;
  width: 90%;
    outline-style: none;
    padding-left: 10px;
}
#search:focus {
    border-style: none;
    border: 0px;
}
.form-group{
    padding: 10px;
    line-height: 16px;
    color: gray;
    background-color: white;
}
.containerItem{
    border-bottom: 1px solid lightgray;    
    padding: 10px;
}
.containerItem i{
    float: right;
}